{% extends "base.html" %}

{% block title %}Edit Group{% endblock title %}

{% block content %}

<div class="form-wrapper">
    <h1>Edit Group</h1>
    <hr>

    <form method="POST" class="form">
        {% csrf_token %}
        
        <div>
            {{form.as_p}}
        </div>

        <div class="form-container">
            <a href="{% url 'home' %}" class="secondary-btn">Cancel</a>
            <button type="submit" class="primary-btn">Save Changes</button>
            <a href="{% url 'list-delete' selected_group.id %}" class="delete-btn">Delete</a>
        </div>

    </form>
</div>

{% endblock content %}
