{% extends "base.html" %}

{% block title %}New column{% endblock title %}

{% block content %}
<div class="form-wrapper">
    <h1>New column</h1>
    <hr>

    <form method="POST" class="form">
        {% csrf_token %}
        <input type="hidden" name="group_id" value="{{ group_id }}">

        <div class="form-group">
            <label for="id_name" class="form-label">Column name:</label>
            <input type="text" name="name" id="id_name" class="form-control" maxlength="25" required>
        </div>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}


        <div class="form-group">
            <label for="type" class="form-label">Column type:</label>
            <select name="type" id="id_type" class="form-select" required>
                <option value="int">Numerical</option>
                <option value="str">Text</option>
            </select>
        </div>

        <div class="form-group">
            <label for="id_definition" class="form-label">Table type:</label>
            <span class="px-3 py-2 border rounded bg-gray-100">
                {{ table_type }}
            </span>
            <input type="hidden" name="field_definition" value="{{ table_type }}">
        </div>

        <div class="form-container">
            <button type="submit" class="primary-btn">Save column</button>
            <a href="{% url 'karma:karma-home' %}?group_id={{ group_id }}" class="secondary-btn">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}
