{% extends 'navbar.html' %}

{% block content %}
<h1>Max Grade Calculator</h1>
<hr />

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <div style="display: flex; gap: 10px;">
        <button type="submit">Calculate</button>
</form>

<form method="get">
    <button type="submit">Reset</button>
</form>

</div>

<table class="grade-table">
    <thead>
        <tr>
            <th>Grade</th>
            <th>Score Range</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>1</td>
            <td> {{ score_range.0 }} - {{ score_range.1 }}</td>
        </tr>

        <tr>
            <td>2</td>
            <td>{{ score_range.2 }} - {{ score_range.3 }}</td>
        </tr>

        <tr>
            <td>3</td>
            <td>{{ score_range.4 }} - {{ score_range.5 }}</td>
        </tr>

        <tr>
            <td>4</td>
            <td>{{ score_range.6 }} - {{ score_range.7 }}</td>
        </tr>

        <tr>
            <td>5</td>
            <td>{{ score_range.8 }} - {{ score_range.9 }}</td>
        </tr>
    </tbody>
</table>
{% endblock %}