{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}
Profile
{% endblock title %}

{% block content %}
<div class="form-wrapper">
    <h1 class="mb-3">Welcome to your profile, {{ user_data.first_name }}!</h1>
    <hr>

    <div class="p-3 border rounded bg-light">
        <h4 class="mb-3">Account Info</h4>
        <p><strong>Username:</strong> {{ user_data.username }}</p>
        <p><strong>First Name:</strong> {{ user_data.first_name }}</p>
        <p><strong>Surname:</strong> {{ user_data.last_name }}</p>
        <p><strong>Email:</strong> {{ user_data.email }}</p>

        <hr>

        <div>
            <a href="{% url 'edit_profile' %}" class="primary-btn">Edit</a>
        </div>
    </div>
</div>
{% endblock content %}
