{% extends "base.html" %}

{% block title %}Delete confirmation{% endblock title %}

{% block content %}

<div class="form-wrapper">
    <h1>Delete Confirmation</h1>
    <hr>

    <div class="form-container">
        <form method="post" class="form">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ selected_group.title }}"?</p>

        <button type="submit" class="delete-btn">Confirm</button>
        <a href="{% url 'list-edit' selected_group.id %}" class="secondary-btn">Cancel</a>
        </form>
    </div>

</div>
{% endblock content %}