{% extends "base.html" %}

{% block title %}Group Maker{% endblock title %}

{% block content %}
<div class="form-wrapper">
    <h1>Group Maker</h1>
    <hr>

    <form method="POST" class="form">
        {% csrf_token %}
        
        <div class="">
            <label for="groupSelect" class="form-label">Select a group:</label>
            <select id="groupSelect" name="group_id" id="group-select" class="form-select" required>

                <option value="" disabled hidden selected>Select a group</option>

                {% for group in groups %}
                    <option value="{{ group.id }}" {% if selected_group and selected_group.id == group.id %}selected{% endif %}>
                        {{ group.title }} ({{ group.size }} members)
                    </option>
                {% endfor %}
                
            </select>
        </div>

        <div class="form-container">
            <a href="{% url 'group_maker:group-maker-creation' %}" class="secondary-btn">Create a group</a>
            <a id="editGroupsBtn" href="#" class="secondary-btn">Edit Group</a>
            <a href="{% url 'group_maker:group-maker-home' %}" class="secondary-btn">Reset</a>
            <a id="deleteGroupBtn" href="#" class="delete-btn">Delete</a>
        </div>
    </form>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        const groupSelect = document.getElementById("groupSelect");
        const editBtn = document.getElementById("editGroupsBtn");
        const deleteBtn = document.getElementById("deleteGroupBtn")

        function updateEditLink() {
            const groupId = groupSelect.value;
            if (groupId) {
                editBtn.href = `/groups/group_maker_edit/${groupId}`;
                editBtn.classList.remove("disabled");
                deleteBtn.href = `/groups/group_maker_delete/${groupId}`;
                deleteBtn.classList.remove("disabled");

            } else {
                editBtn.href = "#";
                editBtn.classList.add("disabled");
                deleteBtn.href = "#";
                deleteBtn.classList.add("disabled");
            }
        }

        groupSelect.addEventListener("change", updateEditLink);

        updateEditLink();
    });
</script>

{% endblock content %}
