{% extends "base.html" %}

{% block title %}Edit Group{% endblock title %}

{% block content %}

<div class="form-wrapper">
    <h1>Edit Group</h1>
    <hr>

    <form method="POST" class="form">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.GET.next|default:request.META.HTTP_REFERER|default:'/' }}">

        <div>
            {{form.as_p}}
        </div>

        <div class="form-container">
            <a href="{{request.META.HTTP_REFERER}}" class="secondary-btn">Cancel</a>
            <button type="submit" class="primary-btn">Save changes</button>
            <a href="{% url 'group_maker:group-maker-delete' selected_group.id %}" class="delete-btn">Delete</a>
        </div>

    </form>
</div>

{% endblock content %}
